html{
    box-sizing: border-box;
    font-size: calc(1rem + (3) * ((100vw - 300px) / (1080 - 300)));
           background-color: aqua;
       }
       #tit{
        animation-name: pulse;
        animation-duration: 1.5s; 
        animation-timing-function: ease-out; 
        text-align: center;
       }

       @keyframes pulse {
        from {
          height:200px;
        }
        to
        {
          height:100px;
        }
      }
      #tit:hover{
        color:brown;
      }
      #hed1{
        font-weight: bold;
        font-size: 30px;
        animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 60%;
          width: 200%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
       #hed1:hover{
        text-decoration: underline;
       }
       
  

   #foo{
       display: flex;
       justify-content:center;
       align-items: center;
       color: white;
       background-color: black;
      height:100px;
      
   }


#but:hover{
    font-size: 60px;
    color:green;
    
}
form{
    border:solid;
    border-width: 3px;
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    background-color: red;
    grid-gap: 10px;
    padding: 10px;
}

#todo-item{
    display: flex;
    flex-direction: column;
}
li>label::after{
    content: "!!";
}

#del{
text-align: center;
color:red;
height: 50px;
width:70px;
margin-left: 50px;
transition: width 3s;
transition: height 2s;
}
#del:hover
{
  height: 80px;
  width:100px;
}

@media only screen and (max-width:800px){
  html{
    background-color: rgb(145, 241, 106);
  }
}

@media only screen and (max-width:500px){
  html{
    background-color: red;
  }
}


@media only screen and (max-width:600px){
  form{
    font-size: 40px;
    font-weight: bold;
  }
}